*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.sublime-workspace
*.sublime-project
*.json
.DS_Store
*.R
pyvenv.cfg

.Rproj.user/
data/
results/
include/
site-packages/
lib_pypy/
lib-python/
msi_files/
bin/
traffic.pbs
ergmbatch.pbs
ergm.pbs
man/
share/
etc/
boater_gen_out/
boaterdocs/

# exceptions
!lib/
lib/*
!lib/python3.7/
lib/python3.7/*
!lib/python3.7/site-packages/
lib/python3.7/site-packages/*
!lib/python3.7/site-packages/AISsim/
!lib/python3.7/site-packages/AISsim/tests/
!lib/python3.7/site-packages/ABCSMC/
.Rproj.user
