*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.sublime-workspace
*.sublime-project
*.json

data/
results/
include/
site-packages/
lib_pypy/
lib-python/
msi_files/
bin/
traffic.pbs
ergmbatch.pbs
ergm.pbs
man/
share/
etc/
lib/

# exceptions
!lib/python3.6/site-packages/UtilFunction.py
!lib/python3.6/site-packages/AdapMCMC.py
!bin/CreatNets.py
!bin/RiskSimSelf.py
!bin/simulation.py
!bin/PostAnalysis.py
